@import url('https://fonts.googleapis.com/css2?family=Anton&family=Badeen+Display&family=Bebas+Neue&family=Diplomata&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Anton&family=Badeen+Display&family=Bebas+Neue&family=Diplomata&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*** FORMULARIO  *****/

:host {
  flex: 1;
  display: flex;
}

.main-content-form {
  flex: 1;
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.form-container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  max-height: 800px;
}

.form-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 20px 0px 40px 0px;
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group textarea {
  resize: none;
}

.form-input {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.2s ease;
}

.form-input-select {
  display: flex;
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.2s ease;
}

.form-input:focus {
  outline: none;
  border-color: #0d6efd;
  box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.2);
}

small {
  color: red;
  margin-top: 10px;
  margin-left: 30px;
}


.form-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.form-button {
  width: 150px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
}

.register-button {
  background-color: #e9ecef;
  color: #333;
}

.register-button:hover {
  background-color: #dee2e6;
}

.cancel-button {
  background-color: #f8f9fa;
  color: #6c757d;
}

.cancel-button:hover {
  background-color: #e9ecef;
}

@media (max-width: 768px) {

  .form-container {
      padding: 20px;
      margin: 0 10px;
  }
}

@media (max-width: 480px) {

  .main-content {
      height: calc(100vh - 250px);
  }

  .form-container {
      max-width: 100%;
  }
}

/**********************/
