<div class="main-content-form">
  <div class="border-form-container">
    <div class="form-container">

      <div class="form-header">
        <h1 class="form-title">Register Device</h1>
        <p class="form-subtitle">Add a new device to your monitoring system</p>
      </div>

      <form method="post" [formGroup]="registerForm" (ngSubmit)="HandleRegistration()">

        <!-- Linha 1: Name + Type -->
        <div class="form-row">

          <div class="form-group half">
            <div class="input-container">
              <span class="input-icon-name">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-notebook-pen-icon lucide-notebook-pen">
                  <path style="color: rgb(163, 163, 163)" d="M13.4 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-7.4"/>
                  <path d="M2 6h4"/>
                  <path d="M2 10h4"/>
                  <path d="M2 14h4"/>
                  <path d="M2 18h4"/>
                  <path d="M21.378 5.626a1 1 0 1 0-3.004-3.004l-5.01 5.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z"/>
                </svg>
              </span>
              <input
                type="text"
                formControlName="name"
                class="form-input"
                placeholder="Device name"
                [class.input-error]="registerForm.get('name')?.touched && registerForm.get('name')?.hasError('required')"
              >
            </div>
            <small *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.hasError('required')"
                  class="error-message">

              <span class="icon-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-alert-icon lucide-circle-alert"><circle cx="12" cy="12" r="10"/><line x1="12" x2="12" y1="8" y2="12"/><line x1="12" x2="12.01" y1="16" y2="16"/>
                </svg>
              </span>
                  Device name is required
            </small>
          </div>

          <div class="form-group half">
            <div class="select-container">
              <span class="input-icon-type">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chart-column-increasing-icon lucide-chart-column-increasing">
                  <path style="color: rgb(252, 173, 3)" d="M13 17V9"/>
                  <path style="color: rgb(24, 202, 8)" d="M18 17V5"/>
                  <path style="color: rgb(112, 112, 112)" d="M3 3v16a2 2 0 0 0 2 2h16"/>
                  <path style="color: rgb(235, 41, 7)"  d="M8 17v-3"/>
                </svg>
              </span>
              <select
                class="form-input-select"
                formControlName="type"
                [class.input-error]="registerForm.get('type')?.touched && registerForm.get('type')?.hasError('required')"
              >
                <option value="">Device type...</option>
                <option *ngFor="let item of types" [value]="item">
                  {{ item }}
                </option>
              </select>
            </div>
            <small *ngIf="registerForm.get('type')?.touched && registerForm.get('type')?.hasError('required')"
                  class="error-message">
              <span class="icon-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-alert-icon lucide-circle-alert"><circle cx="12" cy="12" r="10"/><line x1="12" x2="12" y1="8" y2="12"/><line x1="12" x2="12.01" y1="16" y2="16"/>
                </svg>
              </span>
              Select a device type
            </small>
          </div>
        </div>

        <!-- Linha 2: Model + Manufacturer -->
        <div class="form-row">
          <div class="form-group half">
            <div class="input-container">
              <span class="input-icon-model">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" fill="currentColor">
                  <path d="M128 96C92.7 96 64 124.7 64 160L64 416C64 451.3 92.7 480 128 480L272 480L256 528L184 528C170.7 528 160 538.7 160 552C160 565.3 170.7 576 184 576L456 576C469.3 576 480 565.3 480 552C480 538.7 469.3 528 456 528L384 528L368 480L512 480C547.3 480 576 451.3 576 416L576 160C576 124.7 547.3 96 512 96L128 96zM160 160L480 160C497.7 160 512 174.3 512 192L512 352C512 369.7 497.7 384 480 384L160 384C142.3 384 128 369.7 128 352L128 192C128 174.3 142.3 160 160 160z"/>
                </svg>
              </span>
              <input
                type="text"
                formControlName="deviceModel"
                class="form-input"
                placeholder="Device model"
                [class.input-error]="registerForm.get('deviceModel')?.touched && registerForm.get('deviceModel')?.hasError('required')"
              >
            </div>
            <small *ngIf="registerForm.get('deviceModel')?.touched && registerForm.get('deviceModel')?.hasError('required')"
                  class="error-message">
              <span class="icon-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-alert-icon lucide-circle-alert"><circle cx="12" cy="12" r="10"/><line x1="12" x2="12" y1="8" y2="12"/><line x1="12" x2="12.01" y1="16" y2="16"/>
                </svg>
              </span>
              Device model is required
            </small>
          </div>

          <div class="form-group half">
            <div class="input-container">
              <span class="input-icon-manufacturer">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-building2-icon lucide-building-2">
                  <path d="M10 12h4"/>
                  <path d="M10 8h4"/>
                  <path d="M14 21v-3a2 2 0 0 0-4 0v3"/>
                  <path d="M6 10H4a2 2 0 0 0-2 2v7a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-2"/>
                  <path d="M6 21V5a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v16"/>
                </svg>
              </span>

              <input
                type="text"
                formControlName="manufacturer"
                class="form-input"
                placeholder="Manufacturer"
                [class.input-error]="registerForm.get('manufacturer')?.touched && registerForm.get('manufacturer')?.hasError('required')"
              >
            </div>

            <small *ngIf="registerForm.get('manufacturer')?.touched && registerForm.get('manufacturer')?.hasError('required')"
                  class="error-message">

              <span class="icon-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-alert-icon lucide-circle-alert"><circle cx="12" cy="12" r="10"/><line x1="12" x2="12" y1="8" y2="12"/><line x1="12" x2="12.01" y1="16" y2="16"/>
                </svg>
              </span>
              Manufacturer is required
            </small>
          </div>
        </div>

        <!-- Linha 3: Location (larger) -->
        <div class="form-group">
          <div class="textarea-container">
            <span class="input-icon-location">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" fill="currentColor">
                <path d="M352 348.4C416.1 333.9 464 276.5 464 208C464 128.5 399.5 64 320 64C240.5 64 176 128.5 176 208C176 276.5 223.9 333.9 288 348.4L288 544C288 561.7 302.3 576 320 576C337.7 576 352 561.7 352 544L352 348.4zM328 160C297.1 160 272 185.1 272 216C272 229.3 261.3 240 248 240C234.7 240 224 229.3 224 216C224 158.6 270.6 112 328 112C341.3 112 352 122.7 352 136C352 149.3 341.3 160 328 160z"/>
              </svg>
            </span>

            <textarea
              rows="2"
              formControlName="location"
              class="form-input textarea"
              placeholder="Enter device location"
              [class.input-error]="registerForm.get('location')?.touched && registerForm.get('location')?.hasError('required')"
            ></textarea>
          </div>

          <small *ngIf="registerForm.get('location')?.touched && registerForm.get('location')?.hasError('required')"
                class="error-message">

            <span class="icon-danger">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-alert-icon lucide-circle-alert"><circle cx="12" cy="12" r="10"/><line x1="12" x2="12" y1="8" y2="12"/><line x1="12" x2="12.01" y1="16" y2="16"/>
              </svg>
            </span>
            Location is required
          </small>
        </div>

        <!-- Linha 4: Description -->
        <div class="form-group">
          <div class="textarea-container">

            <span class="input-icon-description">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-notebook-text-icon lucide-notebook-text">
                <path style="color: rgb(177, 177, 177);" d="M2 6h4"/>
                <path style="color: rgb(177, 177, 177);" d="M2 10h4"/>
                <path style="color: rgb(177, 177, 177);" d="M2 14h4"/>
                <path style="color: rgb(177, 177, 177);" d="M2 18h4"/><rect width="16" height="20" x="4" y="2" rx="2"/>
                <path style="color: rgb(177, 177, 177);" d="M9.5 8h5"/>
                <path style="color: rgb(177, 177, 177);" d="M9.5 12H16"/>
                <path style="color: rgb(177, 177, 177);" d="M9.5 16H14"/>
              </svg>
            </span>

            <textarea
              rows="3"
              formControlName="description"
              class="form-input textarea"
              placeholder="Device description"
              [class.input-error]="registerForm.get('description')?.touched && registerForm.get('description')?.hasError('required')"
            ></textarea>
          </div>

          <small *ngIf="registerForm.get('description')?.touched && registerForm.get('description')?.hasError('required')"
                class="error-message">

            <span class="icon-danger">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-alert-icon lucide-circle-alert"><circle cx="12" cy="12" r="10"/><line x1="12" x2="12" y1="8" y2="12"/><line x1="12" x2="12.01" y1="16" y2="16"/>
              </svg>
            </span>

            Description is required
          </small>
        </div>

        <!-- Action Buttons -->
        <div class="form-buttons">
          <button
            type="submit"
            class="form-button register-button"
            [disabled]="registerForm.invalid"
            [class.button-disabled]="registerForm.invalid"
          >
            Register Device
          </button>
        </div>

      </form>

    </div>
  </div>
</div>
