/****TABLE****/

:host {
  display: flex;
}

.main-content-table {
  flex: 4;
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
}


.table-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 90vh;
}

.search-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-right: 40px;
}

.search-container .icon {
  position: fixed;
  right: 160px;
  top: 128px;
  background-color: rgb(223, 3, 3);
  height: 20px;
  width: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
}

.search-container h2 {
  text-indent: 40px;
  margin-top: 30px;
  color: rgb(14, 17, 34);
}

.search-container button {
  background-color: #1574ff;
  border: none;
  border-radius: 100%;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #1058c4;
}

.main-content-table input{
  width: 98%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0px 40px 0px;
}

.main-content-table input:focus {
  outline: none;
  border-color: #0d6efd;
  box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.2);
}

.device-table {
  width: 100%;
  border-collapse: collapse;
}

.device-table .button-info {
  border-left: none;
  border-top: none;
  border-right: none;
  color: #1574ff;
  border-bottom: 1px solid;
  background-color: transparent;
  cursor: pointer;
}

.device-table .button-info:hover {
  color: #0b53be;
}

.device-table th {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #dee2e6;
}


.device-table td {
  padding: 12px;
  margin: 0 auto;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

.device-table th {
  background-color: #f8f9fa;
  font-weight: 600;
  color: #495057;
}

.device-table tr:hover {
  background-color: #f8f9fa;
}

.action-buttons {
  display: flex;
}

.action-button {
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.2s ease;
}

.test-button {
  background-color: #28a745;
  color: white;
}

.edit-button {
  background-color: #ffc107;
  color: #212529;
}

.edit-button:hover {
  background-color: #e0a800;
}

.delete-button {
  background-color: #dc3545;
  color: white;
}

.delete-button:hover {
  background-color: #c82333;
}

@media (max-width: 768px) {

  .table-container {
      padding: 15px;
      margin: 0 10px;
  }

  .device-table th,
  .device-table td {
      padding: 8px;
      font-size: 14px;
  }
}

@media (max-width: 480px) {
  .body {
      flex-direction: column;
  }

  .main-content {
      height: calc(100vh - 250px);
  }

  .table-container {
      max-width: 100%;
  }

  .device-table {
      font-size: 12px;
  }

  .device-table th,
  .device-table td {
      padding: 6px;
  }
}

/*********************/


/**** DESCRIPTION MODAL ****/
.modal-description {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 29%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-description-content {
  width: 500px;
  height: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.modal-description-content .close-button {
  text-align: end;
  margin: 0px 5px 50px 0px;
  cursor: pointer;
}

.modal-description-content .close-button:hover {
  color: #5f5f5f;
}

.modal-description-content .modal-description-text {
  text-align: start;
  text-indent: 15px;
}
/**********************/

/**** PAGINATION ****/
.pagination {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.pagination button:disabled {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  cursor: default;
  font-size: 12px;
  transition: all 0.2s ease;
  background-color: #eeeeee;
  color: #333;
}

.pagination button {
  background-color: #d6d6d6;
  color: #333;
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.2s ease;
}

.pagination button:disabled:hover {
  background-color: #eeeeee;
  color: #333;
}

.pagination button:hover {
  background-color: #b8b8b8;
  color: #333;
}

/***********/
