
<div class="main-content-table">

  <div>
    <div class="table-container">

      <div style="padding: 60px;">
        <div class="search-container">
          <h2>All Devices</h2>
          <app-notifications class="APP-NOTIFICATIONS"></app-notifications>
        </div>

        <div>
          <input (input)="onSearchInput($event)" placeholder="Search devices" class="search-input">
        </div>

        <table class="device-table">
          <thead>
            <tr>
              <th>Device Name</th>
              <th>Type</th>
              <th>Model</th>
              <th>Description</th>
              <th>Manufacturer</th>
              <th>Min Limit</th>
              <th>Max Limit</th>
              <th>Unit</th>
              <th>Location</th>
              <th colspan="3">Actions</th>
            </tr>
          </thead>
          <tbody *ngFor="let device of (paginatedDevices$ | async)">
            <tr>
              <td>{{device.name}}</td>
              <td>{{device.type}}</td>
              <td>{{device.deviceModel}}</td>
              <td>
                <button (click)="functionTableInspection(device.description)" class="button-info">Description</button>
              </td>
              <td>{{device.manufacturer}}</td>
              <td>{{device.minLimit}}</td>
              <td>{{device.maxLimit}}</td>
              <td>{{device.unit}}</td>
              <td>
                <button (click)="functionTableInspection(device.location)" class="button-info">Location</button>
              </td>
              <td>
                <button class="action-button test-button" (click)="handleChangeStatus(device.deviceModel)">Test</button>
              </td>
              <td>
                <button class="action-button edit-button" (click)="functionGetDeviceModelForUpdate(device.deviceModel);">Update</button>
              </td>
              <td>
                <button class="action-button delete-button" (click)="functionGetDeviceModelForDelete(device.deviceModel);">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="pagination">
          <button (click)="previousPage()" [disabled]="(currentPage$ | async) === 1">Previous</button>
          <span class="pagination-info">Page {{ currentPage$ | async}} of {{ totalPages$ | async }}</span>
          <button (click)="nextPage()" [disabled]="(currentPage$ | async) === (totalPages$ | async)">Next</button>
        </div>

      </div>
    </div>

    <!-- Visualizar a descrição do dispositivo -->
    <div class="modal-description" *ngIf="openModalDescription">
      <div class="modal-description-content">
        <p class="close-button" (click)="openModalDescription = !openModalDescription">X</p>
        <p class="modal-description-text">{{selectedDeviceDescription}}</p>
      </div>
    </div>

    <app-update *ngIf="openModalUpdate" [deviceModel]="deviceModel"
    (sendEventCloseModalUpdate)="getEventCloseModalUpdate()">
    </app-update>

    <app-delete-device *ngIf="openModalDelete" [deviceModel]="deviceModel"
    (sendEventCloseModalDeviceDelete)="consumerEventCloseModalDeviceDelete()">
    </app-delete-device>

  </div>
</div>

