/**** NOTIFICATIONS ****/

.modal-notifications {
  position: fixed;
  top: 135px;
  right: 200px;
  z-index: 9999;
}

.modal-notifications-content {
  width: 500px;
  height: 450px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.938);
  overflow-y: auto;
}

.modal-notifications-content h2 {
  color: white;
  text-align: center;
  margin: 20px 0px 30px 0px;
  text-indent: 0px;
  font-size: 20px;
  font-weight: 700;
}

.modal-notifications-content .content{
  background-color: #0422506e;
  padding: 10px;
  border-radius: 10px;
  margin: 0px auto 10px auto;
  width: 90%;
}

.modal-notifications-content p {
  text-align: end;
  color: rgb(241, 241, 241);
  margin: 0px 10px 20px 0px;
  cursor: pointer;
}

.modal-notifications-content p:hover {
  text-align: end;
  color: rgb(180, 180, 180);
}

.modal-notifications-content span {
  color: rgb(187, 187, 187);
  font-weight: 700;
  text-align: center;
  padding: 10px;
}

/* largura da barra */
.modal-notifications-content::-webkit-scrollbar {
  width: 8px;
}

/* fundo da barra */
.modal-notifications-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* parte que se move */
.modal-notifications-content::-webkit-scrollbar-thumb {
  background: #0D6EFD;/* cor da barra */
  border-radius: 10px;
}

/* hover */
.modal-notifications-content::-webkit-scrollbar-thumb:hover {
  background: #0D6EFD;
}

.search-container .icon {
  position: fixed;
  right: 168px;
  top: 100px;
  background-color: rgb(223, 3, 3);
  height: 20px;
  width: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
}

.search-container button {
  background-color: #1574ff;
  border: none;
  border-radius: 100%;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #1058c4;
}

/**********************/
