.container {
  display: flex;
  height: 100vh;
}

.APP-SIDEBAR {
  flex: 1;
}

.APP-HOME {
  flex: 4;
}

.APP-REGISTER {
  flex: 4;
}

.APP-TABLE-DEVICES {
  flex: 4;
}

.APP-TABLE-SENSORS {
  flex: 4;
}
