<div class="body">

  <div class="sidebar">
    <div class="sidebar-header">
      <h3>Device Management</h3>
      <div class="separator"></div>
    </div>
    <div class="sidebar-menu">
      <button class="menu-button"
        *ngFor="let button of buttons"
        (click)="toggleButton(button.id)"
        [ngClass]="{'button-pressed':button.pressed}">
          {{button.title}}
      </button>
    </div>
  </div>

  <div class="main-content" *ngIf="!buttons[0].pressed && !buttons[1].pressed && !buttons[2].pressed">
    <div class="welcome-container">
      <h1 class="welcome-title">Welcome to Device Management</h1>
      <p class="welcome-subtitle">This is the place where you can manage your devices</p>
    </div>
  </div>

  <div class="main-content-form" *ngIf="buttons[0].pressed">
    <div class="form-container">
      <h1 class="form-title">Register Device</h1>

      <form method="post" [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-group">
          <input type="text" formControlName="name" class="form-input" placeholder="Enter device name">

          <small *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.hasError('required')">
            Device name is mandatory.
          </small>
        </div>


        <div class="form-group">
          <select class="form-input" formControlName="type">
            <option value="">Select a type</option>
            <option *ngFor="let item of types" [value]="item">
              {{ item }}
            </option>
          </select>
          <small *ngIf="registerForm.get('type')?.touched && registerForm.get('type')?.hasError('required')">
            Type is mandatory.
          </small>
        </div>

        <div class="form-group">
          <input type="text" formControlName="deviceModel" class="form-input" placeholder="Enter device model">
          <small *ngIf="registerForm.get('deviceModel')?.touched && registerForm.get('deviceModel')?.hasError('required')">
            Device Model is mandatory.
          </small>
        </div>

        <div class="form-group">
          <input type="text" formControlName="manufacturer" class="form-input" placeholder="Enter manufacturer">
          <small *ngIf="registerForm.get('manufacturer')?.touched && registerForm.get('manufacturer')?.hasError('required')">
            Manufacturer is mandatory.
          </small>
        </div>

        <div class="form-group">
          <input type="number" formControlName="minLimit" class="form-input" placeholder="Enter a minLimit">
          <small *ngIf="registerForm.get('minLimit')?.touched && registerForm.get('minLimit')?.hasError('required')">
            Min limit is mandatory.
          </small>
        </div>

        <div class="form-group">
          <input type="number" formControlName="maxLimit" class="form-input" placeholder="Enter a maxLimit">
          <small *ngIf="registerForm.get('maxLimit')?.touched && registerForm.get('maxLimit')?.hasError('required')">
            Max limit is mandatory.
          </small>
        </div>

        <div class="form-group">
          <select class="form-input" formControlName="unit">
            <option value="">Select a unit</option>
            <option *ngFor="let item of units" [value]="item">
              {{ item }}
            </option>
          </select>
          <small *ngIf="registerForm.get('unit')?.touched && registerForm.get('unit')?.hasError('required')">
            Unit is mandatory.
          </small>
        </div>

        <div class="form-group">
          <textarea rows="2" cols="50" formControlName="location" class="form-input" placeholder="Enter a location"></textarea>
          <small *ngIf="registerForm.get('location')?.touched && registerForm.get('location')?.hasError('required')">
            Location is mandatory.
          </small>
        </div>

        <div class="form-group">
          <textarea rows="3" cols="50" formControlName="description" class="form-input" placeholder="Enter description"></textarea>
          <small *ngIf="registerForm.get('description')?.touched && registerForm.get('description')?.hasError('required')">
            Description is mandatory.
          </small>
        </div>

        <div class="form-buttons">
          <button type="submit" class="form-button register-button" [disabled]="registerForm.invalid">Register</button>
          <button type="button" class="form-button cancel-button">Cancel</button>
        </div>

      </form>

    </div>
  </div>

  <div class="main-content-table" *ngIf="buttons[1].pressed">

    <div class="table-container">

      <div class="search-container">
        <h2 class="table-title">All Devices</h2>
        <input [(ngModel)]="searchTerm" type="text" placeholder="Search" class="search-input">
      </div>

      <div style="padding: 20px;">
        <table class="device-table">
          <thead>
            <tr>
              <th>Device Name</th>
              <th>Type</th>
              <th>Model</th>
              <th>Description</th>
              <th>Manufacturer</th>
              <th>Min Limit</th>
              <th>Max Limit</th>
              <th>Unit</th>
              <th>Location</th>
              <th colspan="3">Actions</th>
            </tr>
          </thead>
          <tbody *ngFor="let device of paginatedDevices">
            <tr>
              <td>{{device.name}}</td>
              <td>{{device.type}}</td>
              <td>{{device.deviceModel}}</td>
              <td>
                <button (click)="functionTableInspection(device.description)" class="button-info">Description</button>
              </td>
              <td>{{device.manufacturer}}</td>
              <td>{{device.minLimit}}</td>
              <td>{{device.maxLimit}}</td>
              <td>{{device.unit}}</td>
              <td>
                <button (click)="functionTableInspection(device.location)" class="button-info">Location</button>
              </td>
              <td>
                <button class="action-button test-button">Test</button>
              </td>
              <td>
                <button class="action-button edit-button" (click)="functionButtonUpdate(device.deviceModel)">Edit</button>
              </td>
              <td>
                <button class="action-button delete-button" (click)="functionButtonDelete(device.deviceModel);">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="pagination">
          <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
          <span class="pagination-info">Page {{ currentPage }} of {{ totalPages }}</span>
          <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
        </div>

      </div>
    </div>
  </div>

  <div class="modal-description" *ngIf="openModalDescription">
    <div class="modal-description-content">
      <p class="close-button" (click)="openModalDescription = !openModalDescription">X</p>
      <p class="modal-description-text">{{selectedDeviceDescription}}</p>
    </div>
  </div>

  <div class="modal-location" *ngIf="openModalLocation">
    <div class="modal-location-content">
      <p class="close-button" (click)="openModalLocation = !openModalLocation">X</p>
      <p class="modal-location-text">{{selectedDeviceLocation}}</p>
    </div>
  </div>

  <!-- Device Update Modal -->
  <div class="update-modal" *ngIf="openModalDeviceUpdate">
    <div class="update-modal-content">
      <div>
        <div class="form-container" [ngClass]="{'form-container-update': openModalDeviceUpdate}">
          <p class="close-button-update" (click)="closeModalDeviceUpdate()">X</p>
          <h1 class="form-title">Update Device</h1>

          <form method="put" [formGroup]="updateForm" (ngSubmit)="update()">

            <button class="button-update" *ngIf="!updateDeviceName" (click)="updateDeviceName = !updateDeviceName">Update Device name</button>
            <div class="form-group" *ngIf="updateDeviceName">
              <div style="display: flex; align-items: center; flex-direction: row;">
                <input type="text" formControlName="newName" class="form-input" placeholder="Enter device name">
                <span (click)="updateDeviceName = !updateDeviceName">X</span>
              </div>
            </div>

            <button class="button-update" *ngIf="!updateDeviceModel" (click)="updateDeviceModel = !updateDeviceModel">Update Device model</button>
            <div class="form-group" *ngIf="updateDeviceModel">
              <div style="display: flex; align-items: center; flex-direction: row;">
                <input type="text" formControlName="newDeviceModel" class="form-input" placeholder="Enter device model">
                <span (click)="updateDeviceModel = !updateDeviceModel">X</span>
              </div>
            </div>

            <button class="button-update" *ngIf="!updateManufacturer" (click)="updateManufacturer = !updateManufacturer">Update Manufacturer</button>
            <div class="form-group" *ngIf="updateManufacturer">
              <div style="display: flex; align-items: center; flex-direction: row;">
                <input type="text" formControlName="newManufacturer" class="form-input" placeholder="Enter manufacturer">
                <span (click)="updateManufacturer = !updateManufacturer">X</span>
              </div>
            </div>

            <button class="button-update" *ngIf="!updateLocation" (click)="updateLocation = !updateLocation">Update Location</button>
            <div class="form-group" *ngIf="updateLocation">
              <div style="display: flex; align-items: center; flex-direction: row;">
                <textarea rows="2" cols="50" formControlName="newLocation" class="form-input" placeholder="Enter a location"></textarea>
                <span style="margin-bottom: 25px;" (click)="updateLocation = !updateLocation">X</span>
              </div>
            </div>

            <button class="button-update" *ngIf="!updateDescription" (click)="updateDescription = !updateDescription">Update description</button>
            <div class="form-group" *ngIf="updateDescription">
              <div style="display: flex; align-items: center; flex-direction: row;">
                <textarea rows="4" cols="50" formControlName="newDescription" class="form-input" placeholder="Enter a description"></textarea>
                <span style="margin-bottom: 58px;" (click)="updateDescription = !updateDescription">X</span>
              </div>
            </div>

            <div class="form-buttons">
              <button type="submit" class="form-button register-button">Update</button>
              <button type="button" class="form-button cancel-button" (click)="closeModalDeviceUpdate()">Cancel</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
  <!---->

  <!-- Device Delete Modal -->

  <div class="delete-modal" *ngIf="openModalDeviceDelete">
    <div class="delete-modal-content">
      <p class="close-button" (click)="openModalDeviceDelete = !openModalDeviceDelete">X</p>

      <div style="display: flex; align-items: center; flex-direction: column;">
        <h1 class="delete-modal-title">Delete Device</h1>
        <p class="delete-modal-text">Are you sure you want to delete this device?</p>

        <form method="delete" [formGroup]="deleteForm" (ngSubmit)="delete()">
          <div class="delete-modal-buttons">
            <input style="display: none;" type="text" formControlName="deviceModel">
            <button type="submit" class="delete-modal-button">Delete</button>
            <button type="button" class="delete-modal-button-cancel" (click)="openModalDeviceDelete = !openModalDeviceDelete">Cancel</button>
          </div>
        </form>
      </div>

    </div>
  </div>

  <!---->

  <!-- Device Analysis Modal -->
  <div class="analysis-modal" *ngIf="openModalTableInspection">
    <div class="modal-content">
      <p class="close-button" (click)="openModalTableInspection = !openModalTableInspection">X</p>

      <div class="modal-title">
        <h1>Device Settings</h1>
        <p>Configuration monitoring and history</p>
        <div class="reload-button">
          <button >Reload</button>
        </div>
      </div>

      <div class="modal-cards">

        <div class="card-1">
          <h2>Current Settings</h2>
          <div>
            <p>Min limit <span class="span-color-settings">{{deviceAnalysis.minLimit}}</span></p>
            <p>Max limit <span class="span-color-settings">{{deviceAnalysis.maxLimit}}</span></p>
            <p>Unit <span class="span-color-settings">{{deviceAnalysis.unit}}</span></p>
            <p>CreatedAt <span>{{deviceAnalysis.createdAt}}</span></p>
            <p style="border-bottom: none;">UpdateAt <span>{{deviceAnalysis.updatedAt}}</span></p>
          </div>
        </div>

        <div class="card-2">
          <h2>Previous configuration</h2>
          <div>
            <p>Min limit <span class="span-color-settings">{{deviceAnalysis.lastReadingMinLimit}}</span></p>
            <p>Max limit <span class="span-color-settings">{{deviceAnalysis.lastReadingMaxLimit}}</span></p>
            <p>Unit <span class="span-color-settings">{{deviceAnalysis.unit}}</span></p>
            <p style="border-bottom: none;">UpdateAt <span>{{deviceAnalysis.lastReadingUpdateAt}}</span></p>
          </div>
        </div>

      </div>
    </div>

  </div>

  <!---->

  <div class="main-content-analysis"
    *ngIf="buttons[2].pressed">

    <div class="analysis-container">

      <div class="search-container">
        <h2 class="analysis-title">Real-time Device Analysis</h2>
        <input type="text" placeholder="Search" class="search-input">
      </div>

      <div style="padding: 20px;">
        <table class="devices-table" >
          <thead>
            <tr>
              <th>Device Name</th>
              <th>Type</th>
              <th>Model</th>
              <th>Manufacturer</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody >
            <tr>
              <td></td>
              <td></td>
              <td class="current-value"></td>
              <td class="previous-value"></td>
              <td><span class="status-indicator status-active"></span>Active</td>
            </tr>
          </tbody>
        </table>
        <div class="pagination">
          <button  [disabled]="currentPageAnalysis === 1">Previous</button>
          <span class="pagination-info">Page {{ currentPageAnalysis }} of </span>
          <button>Next</button>
        </div>
      </div>
    </div>
  </div>

</div>
