<div style="z-index: 1;">
  <div class="search-container">
    <div class="notification-wrapper">
      <button class="notification-btn" (click)="openNotifications()">

        <span class="icon-bell">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" fill="currentColor">
            <path d="M320 64C302.3 64 288 78.3 288 96L288 99.2C215 114 160 178.6 160 256L160 277.7C160 325.8 143.6 372.5 113.6 410.1L103.8 422.3C98.7 428.6 96 436.4 96 444.5C96 464.1 111.9 480 131.5 480L508.4 480C528 480 543.9 464.1 543.9 444.5C543.9 436.4 541.2 428.6 536.1 422.3L526.3 410.1C496.4 372.5 480 325.8 480 277.7L480 256C480 178.6 425 114 352 99.2L352 96C352 78.3 337.7 64 320 64zM258 528C265.1 555.6 290.2 576 320 576C349.8 576 374.9 555.6 382 528L258 528z"/>
          </svg>
        </span>

        <div class="notification-badge" *ngIf="countNotifications > 0 && countNotifications < 10">
          {{countNotifications}}
        </div>
        <div class="notification-badge" *ngIf="countNotifications > 9">9+</div>
      </button>

      <div class="modal-notifications" *ngIf="openModalNotifications">
        <div class="modal-notifications-content" (scroll)="onScroll($event)">
          <div class="modal-header">
            <h2>Notifications</h2>
            <span class="close-modal" (click)="openModalNotifications = false">X</span>
          </div>

          <div class="notifications-list">
            <div *ngIf="listNotifications.length === 0 && !loading" class="no-notifications">
              <p>No notifications</p>
            </div>

            <div class="notification-item" *ngFor="let notification of listNotifications">
              <div class="notification-content">
                <span>{{notification.message}}</span>
              </div>
              <div class="notification-actions">
                <span class="close-notification" (click)="ocultNotifications(notification.notificationId)">X</span>
              </div>
            </div>

            <div class="loading-more" *ngIf="loading">
              <div class="spinner"></div>
              <span>Loading more notifications...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
