<!-- Device Update Modal -->
<div class="update-modal">
  <div class="update-modal-content">

    <div class="close-button">
      <span (click)="closeModalDeviceUpdate()">X</span>
    </div>

    <h1 class="form-title">Update Device</h1>

    <form method="put" [formGroup]="updateForm" (ngSubmit)="handleUpdate()">

      <div class="form-group-buttons">

        <button class="button-update" *ngIf="!updateDeviceName" (click)="updateDeviceName = !updateDeviceName">Update Device name</button>
        <div class="form-group" *ngIf="updateDeviceName">
          <div class="input-container">
            <input type="text" formControlName="newName" class="form-input" placeholder="Enter device name">
            <span class="input-close" (click)="updateDeviceName = !updateDeviceName">X</span>
          </div>
        </div>

        <button class="button-update" *ngIf="!updateDeviceModel" (click)="updateDeviceModel = !updateDeviceModel">Update Device model</button>
        <div class="form-group" *ngIf="updateDeviceModel">
          <div class="input-container">
            <input type="text" formControlName="newDeviceModel" class="form-input" placeholder="Enter device model">
            <span class="input-close" (click)="updateDeviceModel = !updateDeviceModel">X</span>
          </div>
        </div>

        <button class="button-update" *ngIf="!updateManufacturer" (click)="updateManufacturer = !updateManufacturer">Update Manufacturer</button>
        <div class="form-group" *ngIf="updateManufacturer">
          <div class="input-container">
            <input type="text" formControlName="newManufacturer" class="form-input" placeholder="Enter manufacturer">
            <span class="input-close" (click)="updateManufacturer = !updateManufacturer">X</span>
          </div>
        </div>

        <button class="button-update" *ngIf="!updateLocation" (click)="updateLocation = !updateLocation">Update Location</button>
        <div class="form-group" *ngIf="updateLocation">
          <div class="input-container">
            <textarea rows="2" formControlName="newLocation" class="form-input textarea" placeholder="Enter a location"></textarea>
            <span class="input-close textarea-close" (click)="updateLocation = !updateLocation">X</span>
          </div>
        </div>

        <button class="button-update" *ngIf="!updateDescription" (click)="updateDescription = !updateDescription">Update description</button>
        <div class="form-group" *ngIf="updateDescription">
          <div class="input-container">
            <textarea rows="4" formControlName="newDescription" class="form-input textarea" placeholder="Enter a description"></textarea>
            <span class="input-close textarea-close" (click)="updateDescription = !updateDescription">X</span>
          </div>
        </div>

        <div class="form-buttons">
          <button type="submit" class="register-button">Update</button>
          <button type="button" class="cancel-button" (click)="closeModalDeviceUpdate()">Cancel</button>
        </div>
      </div>

    </form>

  </div>
</div>
