/************* SIDEBAR ***************/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Badeen+Display&family=Bebas+Neue&family=Diplomata&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Anton&family=Badeen+Display&family=Bebas+Neue&family=Diplomata&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.sidebar {
  width: 400px;
  background-color: #ffffff;
  border-right: 1px solid #dee2e6;
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 93.4vh;
}

.sidebar-header h3{
  text-align: center;
  margin: 30px 0px 30px 0px;

}

.separator {
  width: 100%;
  height: 1px;
  background-color: #aaaaaa;
  margin: 40px auto

}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-button {
  background-color: #e9ecef;
  border: none;
  padding: 12px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease;
  text-align: center;
}

.menu-button:hover {
  background-color: #dee2e6;
  transform: translateY(-2px);
}

.button-pressed {
  background-color: #0d6efd;
  color: #fff;
}


@media (max-width: 768px) {
  .sidebar {
      width: 200px;
  }
}

@media (max-width: 480px) {
  .sidebar {
      width: 100%;
      height: auto;
      border-right: none;
      border-bottom: 1px solid #dee2e6;
  }
}

/***************************/
