/************* SIDEBAR ***************/
.sidebar {
  width: 400px;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.sidebar-header h3{
  text-align: center;
  margin: 30px 0px 30px 0px;

}

.separator {
  width: 100%;
  height: 1px;
  background-color: #aaaaaa;
  margin: 40px auto

}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-button {
  background-color: #e9ecef;
  border: none;
  padding: 12px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease;
  text-align: center;
}

.menu-button:hover {
  background-color: #dee2e6;
  transform: translateY(-2px);
}

.button-pressed {
  background-color: #0d6efd;
  color: #fff;
}


@media (max-width: 768px) {
  .sidebar {
      width: 200px;
  }
}

@media (max-width: 480px) {
  .sidebar {
      width: 100%;
      height: auto;
      border-right: none;
      border-bottom: 1px solid #dee2e6;
  }
}

/***************************/
